name: Build
'on':
  push:
    branches:
      - main
  pull_request: null
concurrency:
  group: 'build-${{ github.ref }}'
  cancel-in-progress: true
jobs:
  unit-tests:
    strategy:
      matrix:
        java:
          - 17
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '${{ matrix.java }}'
      - name: Run unit tests (excluding E2E tests)
        run: >
          ./gradlew :project-generator:unitTest

  e2e-tests:
    strategy:
      matrix:
        java:
          - 17
        test-class:
          - 'io.github.cdsap.projectgenerator.ProjectGeneratorE2ETest'
          - 'io.github.cdsap.projectgenerator.ProjectGeneratorE2EAgp9Test'
          - 'io.github.cdsap.projectgenerator.ProjectGeneratorE2EJdk21Test'
          - 'io.github.cdsap.projectgenerator.SingleE2EValidationTest'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: unit-tests
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Graphviz
        uses: ts-graphviz/setup-graphviz@v2
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '${{ matrix.java }}'
      - name: Run E2E test ${{ matrix.test-class }}
        run: >
          ./gradlew :project-generator:test
          --tests "${{ matrix.test-class }}"

  generate-projects:
    strategy:
      matrix:
        java:
          - 17
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: unit-tests
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Graphviz
        uses: ts-graphviz/setup-graphviz@v2
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '${{ matrix.java }}'
      - name: Build CLI and generate projects
        run: >
          ./gradlew :cli:fatBinary

          mv cli/projectGenerator projectGenerator

          ./projectGenerator generate-project --shape inverse_triangle --language kts --modules
          150 --type android --classes-module 10 --classes-module-type random
          --layers 11

          dot -Tpng projects_generated/androidInverse_triangle150modules/project_kts/graph.dot >
          inverse_triangle.png

          ./projectGenerator generate-project --shape triangle --language kts --modules 150
          --type android --classes-module 10 --classes-module-type random
          --layers 11

          dot -Tpng projects_generated/androidTriangle150modules/project_kts/graph.dot > triangle.png

          ./projectGenerator generate-project --shape rhombus --language kts --modules 150 --type
          android --classes-module 10 --classes-module-type random --layers 11

          dot -Tpng projects_generated/androidRhombus150modules/project_kts/graph.dot > rhombus.png

          ./projectGenerator generate-project --shape middle_bottleneck --language kts --modules 150 --type android --classes-module 10 --classes-module-type random --layers 11

          dot -Tpng projects_generated/androidMiddle_bottleneck150modules/project_kts/graph.dot >
          middle_bottleneck.png

          ./projectGenerator generate-project --shape rectangle --language kts --modules 150 --type android --classes-module 10 --classes-module-type random --layers 11

          dot -Tpng projects_generated/androidRectangle150modules/project_kts/graph.dot > rectangle.png

          ./projectGenerator generate-project --shape flat --language kts --modules 150 --type android --classes-module 10 --classes-module-type random --layers 11

          dot -Tpng projects_generated/androidFlat150modules/project_kts/graph.dot > flat.png
      - name: Archive production artifacts
        uses: actions/upload-artifact@v5
        with:
          name: graphs
          path: |
            inverse_triangle.png
            triangle.png
            rhombus.png
            middle_bottleneck.png
            rectangle.png
            flat.png
